@model TechyRecruit.Models.RecruitModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RecruitModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recruiter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recruiter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CandidateName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CandidateName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalExperience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalExperience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelevantExperience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelevantExperience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CCTC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCTC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ECTC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ECTC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreferredLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreferredLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoticePeriodOrLastWorkingDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoticePeriodOrLastWorkingDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoldingOfferOrPackageAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoldingOfferOrPackageAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceInCloudPlatforms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienceInCloudPlatforms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceInLeadHandling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienceInLeadHandling)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceInPerformanceTesting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienceInPerformanceTesting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractRoleRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractRoleRequired)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
