@model TechyRecruit.Models.RecruitModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Recruit Details</h1>

<div class="card">
<div class="card-body">
    <dl class="row">
        <div class="col-sm-3">
            <dt>Recruiter</dt>
            <dd>@Html.DisplayFor(model => model.Recruiter)</dd>
        </div>
        <div class="col-sm-3">
            <dt>Opening Details</dt>
            <dd>@Html.DisplayFor(model => model.OpeningDetails)</dd>
        </div>
        <div class="col-sm-3">
            <dt>Candidate Name</dt>
            <dd>@Html.DisplayFor(model => model.CandidateName)</dd>
        </div>
        <div class="col-sm-3">
            <dt>Received Date</dt>
            <dd>@Html.DisplayFor(model => model.ReceivedDate)</dd>
        </div>
        <div class="col-sm-3">
            <dt>Contact Number</dt>
            <dd>@Html.DisplayFor(model => model.ContactNumber)</dd>
        </div>
        <div class="col-sm-3">
            <dt>Email</dt>
            <dd>@Html.DisplayFor(model => model.Email)</dd>
        </div>
        <div class="col-sm-3">
            <dt>Company</dt>
            <dd>@Html.DisplayFor(model => model.Company)</dd>
        </div>
        <div class="col-sm-3">
            <dt>Total Experience</dt>
            <dd>@Html.DisplayFor(model => model.TotalExperience)</dd>
        </div>
        <div class="col-sm-3">
            <dt>Relevant Experience</dt>
            <dd>@Html.DisplayFor(model => model.RelevantExperience)</dd>
        </div>
        <div class="col-sm-3">
            <dt>CCTC</dt>
            <dd>@Html.DisplayFor(model => model.CCTC)</dd>
        </div>
        <div class="col-sm-3">
            <dt>ECTC</dt>
            <dd>@Html.DisplayFor(model => model.ECTC)</dd>
        </div>
        <div class="col-sm-3">
            <dt>Current Location</dt>
            <dd>@Html.DisplayFor(model => model.CurrentLocation)</dd>
        </div>
        <div class="col-sm-3">
            <dt>Preferred Location</dt>
            <dd>@Html.DisplayFor(model => model.PreferredLocation)</dd>
        </div>
        <div class="col-sm-3">
            <dt>Notice Period Or Last Working Day</dt>
            <dd>@Html.DisplayFor(model => model.NoticePeriodOrLastWorkingDay)</dd>
        </div>
        <div class="col-sm-3">
            <dt>Holding Offer Or Package Amount</dt>
            <dd>@Html.DisplayFor(model => model.HoldingOfferOrPackageAmount)</dd>
        </div>
        <div class="col-sm-3">
            <dt>Experience In CloudPlatforms</dt>
            <dd>@Html.DisplayFor(model => model.ExperienceInCloudPlatforms)</dd>
        </div>
        <div class="col-sm-3">
            <dt>Experience In LeadHandling</dt>
            <dd>@Html.DisplayFor(model => model.ExperienceInLeadHandling)</dd>
        </div>
        <div class="col-sm-3">
            <dt>Experience In Performance Testing</dt>
            <dd>@Html.DisplayFor(model => model.ExperienceInPerformanceTesting)</dd>
        </div>
        <div class="col-sm-3">
            <dt>Contract Role Required</dt>
            <dd>@Html.DisplayFor(model => model.ContractRoleRequired)</dd>
        </div>
    </dl>
</div>
</div>
<div class="mt-3">
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a class="btn btn-secondary ml-2" asp-action="Index">Back to List</a>
</div>
