@model IEnumerable<TechyRecruit.Models.RecruitModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recruiter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandidateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RelevantExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CCTC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ECTC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreferredLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoticePeriodOrLastWorkingDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoldingOfferOrPackageAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienceInCloudPlatforms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienceInLeadHandling)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienceInPerformanceTesting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractRoleRequired)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Recruiter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CandidateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelevantExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CCTC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ECTC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreferredLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoticePeriodOrLastWorkingDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoldingOfferOrPackageAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceInCloudPlatforms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceInLeadHandling)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceInPerformanceTesting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractRoleRequired)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
